<div class="wrapper_ansprechpartner"> 
        <div class= "headline"><h1>Hier sind unsere Ansprechpartner!</h1></div>
        <div class= "biden_img">
                <%= image_tag "https://s.abcnews.com/images/Politics/ap_joe_biden_ice_cream_02_floated_jc_141009_16x9_1600.jpg",size:"710x400"%>
        </div> 
        <div class= "biden_info">
               hier stehen schöne sachen wie die kontaktdaten
        </div>
        
    </div> 