<div class="wrapper_hallen"> 
        <div class= "headline"><h1>Hier sind unsere Turnhallen!</h1></div>
        <div class= "dreiklang">
               <%= image_tag "https://badminton.blauweiss65-schwedt.de/wp-content/uploads/2017/01/dreiklanghalle.jpg", size:"533x400"%>
        </div> 

        <div class= "dreiklang_info">
              <h3> Sporthalle "Dreiklang" </h3>
              <br>
              Hanns-Eisler-Weg 19
              <br>
              16303 Schwedt/Oder
              <br>
              <br>
              Telefon: 03332 22286
              <br>
              <br>
              <%= link_to 'Sporthalle "Dreiklang" auf Google Maps', "https://www.google.de/maps/place/Sporthalle+Dreiklang/@53.0584181,14.2775634,17z/data=!3m1!4b1!4m6!3m5!1s0x47a9fb49d6d01b33:0x965e9d1b0ad6f3cd!8m2!3d53.0584149!4d14.2801383!16s%2Fg%2F1tknjh8z?hl=de&entry=ttu", target: '_blank' , class:"a" %>


        </div>

        <div class= "neue_zeit">
               <%= image_tag "https://www.moz.de/imgs/38/7/3/9/7/2/0/7/2/tok_4aef1b876a370a2826928526809c7d2c/w1200_h675_x750_y422_77587f637c9d9e44.jpeg", size:"711x400"%>
        </div>

        <div class= "neue_zeit_info">
              <h3> Sporthalle "Neue Zeit" </h3>
              <br>
              Ferdinand von Schill Straße 17
              <br>
              16303 Schwedt/Oder 
              <br>
              <br>
              Telefon: 03332 20840
              <br>
              <br>
              <%= link_to 'Sporthalle "Neue Zeit" auf Google Maps', "https://www.google.de/maps/place/Sporthallen+Neue+Zeit/@53.0674133,14.2919473,17z/data=!3m1!4b1!4m6!3m5!1s0x47a9fb43b7ba7ec3:0x1ab18fead53d5210!8m2!3d53.0674133!4d14.294136!16s%2Fg%2F1tdg6v69?hl=de&entry=ttu", target: '_blank', class:"a" %>
        </div>


    </div> 