<table id="trainingszeiten">
  <tr>
  	<th>Wochentag</th>
    <th>Team</th>
    <th>Uhrzeit</th>
    <th>Halle</th>
    <th>Trainer</th>
  </tr>
  <tr>
    <td>Montag</td>
    <td>Frauen</td>
    <td>20:00 - 21:30</td>
    <td>Sporthalle Dreiklang</td>
    <td>/</td>
  </tr>
  <tr>
    <td>Dienstag</td>
    <td>u16</td>
    <td>18:30 - 20:00</td>
    <td>Sporthalle "Neue Zeit"</td>
    <td>Herr Schreiber</td>
  </tr>
  <tr>
    <td>Mittwoch</td>
    <td>u14 <br>
        u16 <br>
        u18
    </td>
    <td>15:30 - 17:00 <br>
        17:00 - 18:30  <br>
        20:00 - 21:30 
    </td>
     <td>Sporthalle Dreiklang</td>
     <td>Herr Lindemann/Matthi<br>
        Herr Schreiber<br>
        Herr Schreiber
    </td>
  </tr>
  <tr>
    <td>Donnerstag</td>
    <td>Herren/ü35</td>
    <td>18:30 - 20:00</td>
    <td>Sporthalle Dreiklang</td>
    <td>/</td>
  </tr>
  <tr>
    <td>Freitag</td>
        <td>u16 <br>
        u14 <br>
        u18<br>
        Herren
    </td>
        <td>13:30 - 15:00<br>
        17:00 - 18:30<br>
        18:30 - 20:00<br>
        20:00 - 21:30  
    </td>
    <td>Sporthalle Dreiklang</td>
    <td>Herr Schreiber<br>
      Herr Lindemann/Matthi<br>
      Herr Schreiber<br>
      Herr Schreiber
    </td>
  </tr>
  
</table>