<table id="trainingszeiten">
  <tr>
  	<th>Wochentag</th>
    <th>Team</th>
    <th>Uhrzeit</th>
    <th>Halle</th>
    <th>Trainer</th>
  </tr>
  <tr>
    <td>Montag</td>
    <td>Frauen</td>
    <td>20:00 - 21:30</td>
    <td>Sporthalle Dreiklang (groß)</td>
    <td>S. Kasiske/S. Zürner</td>
  </tr>
  <tr>
    <td>Dienstag</td>
    <td>AG Waldrand <br>
      u16
    </td>
    <td>14:30 - 15:30 <br>
      18:30 - 20:00
    </td>
    <td>Külzviertel <br>
    Sporthalle "Neue Zeit"</td>
    <td>U. Schreiber/K. Franz<br>
      U. Schreiber
    </td>
  </tr>
  <tr>
    <td>Mittwoch</td>
    <td>Anfänger/U12<br>
        u16 <br>
        u18
    </td>
    <td>15:30 - 17:00 <br>
        17:00 - 18:30  <br>
        20:00 - 21:30 
    </td>
     <td>Sporthalle Dreiklang (alt)</td>
     <td>T. Lindemann/M. Trojahn<br>
        U. Schreiber<br>
        U. Schreiber/F. Hahn
    </td>
  </tr>
  <tr>
    <td>Donnerstag</td>
    <td>Herren/ü35</td>
    <td>18:30 - 20:00</td>
    <td>Sporthalle Dreiklang (alt)</td>
    <td>E. Pirscher/M. Trojahn</td>
  </tr>
  <tr>
    <td>Freitag</td>
        <td>u16       <br>
        Krabbelgruppe/u5 <br>
        Krabbelgruppe/u8 <br>
        Anfänger/u12  <br>
        u18           <br>
        Herren
    </td>
        <td>13:30 - 15:00<br>
          16:00 - 17:00<br>
          17:00 - 18:00<br>
        17:00 - 18:30<br>
        18:30 - 20:30<br>
        20:00 - 21:30  
    </td>
    <td>Sporthalle Dreiklang (alt)<br>
      Sporthalle Dreiklang (klein)<br>
      Sporthalle Dreiklang (klein)<br>
      Sporthalle Dreiklang (alt)<br>
      Sporthalle Dreiklang (alt)<br>
      Sporthalle Dreiklang (alt)<br>
    </td>
    <td> U. Schreiber<br>
      S. Kasiske/I. Kröhnke<br>
      S. Kasiske/I. Kröhnke<br>
      T. Lindemann/M. Trojahn<br>
      U. Schreiber<br>
      U. Schreiber/F. Hahn
    </td>
  </tr>
  
</table>
