<div class="wrapper_home"> 
        <div class="text"><h1>Hallo Sportsfreunde,</h1>
        	<br>
        	<h2>wir sind die BG 94 Schwedt und Basketball ist unsere Leidenschaft.</h2>
        	<br>
        	<p>Hast Du Interesse am Basketball und suchst einen passenden Verein? <br>
        	Dann bist Du hier genau richtig! <br>
        	Wenn Du motiviert und interessiert bist, dann schau einfach mal vorbei.<br>
        	<br>Unsere Teams spielen erfolgreich in Turnieren in ganz Brandenburg. Von den Kleinen, über die Jugend, bis zu den Frauen- und Herren-Teams, bei uns findet jeder etwas. Unsere Trainingszeiten findet Ihr <%= link_to "hier", training_trainingszeiten_path, class:"a" %>.
        	<br>
        	Wie jedes Jahr, findet auch 2023 unser Trainingslager statt. Mehr Infos darüber und zur Anmeldung findet Ihr <%= link_to "hier", events_trainingslager_path, class:"a" %>. 
        	<br>
        	<br>
        	Bis bald und Sport frei!
        	</p>
        </div>
        <div class="blog"><h2>Hier findet ihr aktuelle Ereignisse!</h2> </div>
        <div class="right"> </div>
        <div class="left"> </div>
    </div>