<div class="wrapper"> 
        <div class= "headline"><h4>Hier sind unsere Teams!</h4></div>
        <div class= "team1">
               
        </div>

        <div class= "team2">
             
        </div>

        <div class= "team3">
                
        </div>

        <div class= "team4">
               
        </div>

        <div class= "team5">
               
        </div>

        <div class= "team6">
               
        </div>

    </div> 