<div class="wrapper_streetball"> 
       
        <div class= "streetball_2023">
               <%= image_tag "streetball/streetball2023.jpg", size:"1410x750", class:"img"%>
        </div> 

        <div class= "streetball_2023_info">
              <h1> Unser Streetballturnier 2023 </h1> <br>
              <p>In diesem Jahr fand unser 23. Streetballturnier vor dem Oder-Center in Schwedt/Oder statt. Auf vier Courts kämpften 20 Teams aus Brandenburg und Mecklemburg-Vorpommern in ihren Altersklassen um den Sieg. Trotz der Hitze schlugen sich die Basktekballer wacker und beeindruckten die Schaulustigen. In der u12 gewann das Team "---"()......</p>
              <%= link_to "Bilder des Turniers", "https://www.picdrop.com/sebastianhellmuthfotografie/C7nRcTFpGQ" , target: '_blank' , class:"a" %>
              


        </div>

        

    </div> 