<div class="wrapper_streetball"> 
        <div class= "headline"><h1>Hier sind alle unsere Streetballturniere!</h1></div>
        <div class= "streetball_2023">
               <%= image_tag "https://cdn.discordapp.com/attachments/1008444521106915370/1119994528573694065/IMG_4827.jpg", size:"750x500"%>
        </div> 

        <div class= "streetball_2023_info">
              <h3> Streetball 2023 </h3>
              <p> Kleiner Bericht vom Turnier! </p> <br>
              <p> Kleiner Bericht vom Turnier! </p> <br>
              <p> Kleiner Bericht vom Turnier! </p> <br>
              <p> Kleiner Bericht vom Turnier! </p> <br>
              <%= link_to "Bilder des Turniers", "https://www.picdrop.com/sebastianhellmuthfotografie/C7nRcTFpGQ" , target: '_blank' , class:"a" %>
              


        </div>

        

    </div> 