<div class="wrapper_trainingslager"> 
        <div class= "trainingslager_info">
              <h1>Das BG-94-Trainingslager 2023</h1>
              <p>Auch in diesem Jahr findet unser jährliches BG-Trainingslager in ... statt.</p>
        </div> 
        

        

    </div> 