
:root{
    --background-color:#000000;
    --darker-background-color: #1A1A1A;
    --accent-color:    #262626;
    --navbar-height: 90px;
    --footer-height: 120px;
}
*{
    margin: 0;
    padding: 0;
    
    font-family: Arial;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
.grid-container{
    width:100%;
    display:grid;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 90px 3fr 300px;
    }
.main{
    grid-area: main;
    padding: 50px
}

.header{
    grid-area: header;
}

.footer{
    grid-area: footer;
    padding: 50px;
}
