.wrapper_streetball{
    width:100%;
    display:grid;
    grid-template-areas: 
                         "left streetball_2023 right"
                         "left streetball_2023_info right";

    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows:  1fr 3fr;
    gap: 20px;
}

.streetball_2023{
     display: grid;
     grid-area: streetball_2023;   
     justify-content: center;
     align-content: center;
}
.streetball_2023 img{
     max-width: 100%;
     height: auto;
}

.streetball_2023_info{
     grid-area: streetball_2023_info;   

}
.streetball_2023_info p{
     font-size: 20px;
     line-height: 40px;
}
.a{
     text-decoration: none;
}

