#trainingszeiten{
  border-collapse: collapse;
  width: 100%;
}

#trainingszeiten td, #trainingszeiten th {
  border: 1px solid #ddd;
  padding: 8px;
}

#trainingszeiten tr:nth-child(even){background-color: #f2f2f2;}

#trainingszeiten tr:hover {background-color: #ddd;}

#trainingszeiten th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}
